.customColor {
    color:aqua;
}

.grayBackground {
    background-color: #00072c; 
  }

$cor-azul-escuro: #001c38;
$cor-iluminacao: #0071bd; // Azul mais claro para a iluminação

$largura: 1920px;
$altura: 1080px;

// Criando o gradiente
.bg-Custom {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, $cor-azul-escuro, $cor-iluminacao $altura);
}

.w-20rem {
    width: 20rem;
}
